name: CI/CD Suivi Académique

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      # --- PROJET 3 : TEST DE SÉCURITÉ ---
      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Snyk Open Source Analysis (Backend)
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        # --maven-aggregate-project aide Snyk à mieux comprendre la structure Maven
        # On utilise 'mvn' au lieu du wrapper pour éviter l'erreur de chemin
        run: snyk test --severity-threshold=high --command=mvn

  docker-build-push:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # --- PROJET 4 : GESTION DES VULNÉRABILITÉS DOCKER ---
      - name: Snyk Container Scan
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          npm install -g snyk
          snyk container test ${{ secrets.DOCKERHUB_USERNAME }}/suivie-academique:latest --severity-threshold=high

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/suivie-academique:latest